<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test thread-count="2" name="API Test RestAssureProject">
        <classes>
<!--            <class name="com.restAPI.test.AccountCreateTest">-->
<!--                <methods>-->
<!--                    <include name="createAccountTest"/>-->
<!--                </methods>-->
<!--            </class>-->
<!--            <class name="com.restAPI.test.HttpRequest">-->
<!--                <methods><include name="getUser"/>-->
<!--                </methods>-->
<!--            </class>-->
<!--            <class name="com.restAPI.test.ProfileUpdateTest">-->
<!--                <methods><include name="profileUpdateTest"/></methods>-->
<!--            </class>-->
<!--            <class name="com.restAPI.test.forgetPasswordTest">-->
<!--                <methods><include name="forgetPasswordTest"/></methods>-->
<!--            </class>-->
            <class name="com.restAPI.test.getProfileForTest">
                <methods><include name="getProfileTest"/></methods>
            </class>
        </classes>
    </test>
</suite>